$color: tomato;

body {
    background: $color;
}

div.container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 2px;
    width: 50%;
    margin: 0 auto;
}
div.container > div {
    border: 1px solid black;
}

.white {
    background: grey;
}

.black {
    background: lightgray;
}